<footer class="app-main-footer">
  <div class="footer-content">
    <p class="footer-subtext">
      Powered by Angular & Dexie • Maps:
      <a href="https://carto.com" target="_blank" rel="noopener">CARTO</a>,
      <a href="https://www.openstreetmap.org/copyright" target="_blank" rel="noopener"
        >OpenStreetMap</a
      >
    </p>

    <p class="footer-subtext">
      Developed by <a href="https://github.com/wixhub" target="_blank" rel="noopener">@wixhub</a>
      • Repository Source
      <a href="https://github.com/wixhub/data-curation" target="_blank" rel="noopener">GitHub</a>
    </p>
  </div>
</footer>
